<div class="item file attachment" data-bind="
	css: cssClasses,
	event: isPopupItem() ? null : { 'dragstart': eventDragStart },
	draggablePlace: !isPopupItem() && allowDrag() ? $parent.dragAndDropHelperBinded : null,
	draggableDragStartCallback: function() {if (!isPopupItem() && allowDrag()) {$root.dragover(true);}},
	draggableDragStopCallback: function() {if (!isPopupItem() && allowDrag()) {$root.dragover(false);}}
">

	<!-- ko if: (allowHeader()) -->
	<span class="header">
		<span class="author" data-bind="text: ownerHeaderText"></span>
		<span class="date" data-bind="text: lastModifiedHeaderText"></span>
	</span>
	<!-- /ko -->

	<span class="item_content ui-droppable dragHandle">

		<span class="cancel" data-bind="click: function () { $parent.onFileRemove( uploadUid() ); }, customTooltip: '%MODULENAME%/ACTION_CANCEL'"></span>

		<span class="image" data-bind="customTooltip: iconTooltip(), click: doIconAction, css: {'has_action': iconAction() !== ''}">
			<!-- ko if: thumbnailSrc() !== '' -->
			<img data-bind="attr: {'src': thumbnailSrc()}" />
			<span class="icon play" data-bind="click: viewFile, visible: hasHtmlEmbed()"></span>
			<!-- /ko -->
			<!-- ko if: thumbnailSrc() === '' -->
			<span class="icon" data-bind="css: extension().toLowerCase() + (hasHtmlEmbed() ? ' ' + embedType().toLowerCase() : '')"></span>
			<!-- /ko -->
		</span>

		<!-- ko if: (allowSharing()) -->
		<span class="shared_icon" data-bind="css: {'with_thumb': thumbnailSrc() !== ''}, click: function (oItem) { $root.onShareIconClick(oItem); }"></span>
		<!-- /ko -->
		<span class="progress" data-bind="visible: visibleProgress()">
			<span data-bind="style: {'width': progressPercent() + '%'}"></span>
		</span>
		<span class="status_text" data-bind="text: statusText(), css: {'hide': !(statusText().length > 0), 'error': uploadError()}, customTooltip: statusTooltip"></span>
		<div class="buttons" data-bind="visible: !isPopupItem() && uploaded() && !uploadError(), css: {'hide': statusText().length > 0 || !uploaded()}">
			<a class="button view" href="javascript: void(0)" data-bind="visible: hasLeftAction(), 
					click: doLeftAction, text: leftActionText"></a>
			<a class="button download" href="javascript: void(0)" data-bind="visible: hasRightAction(), 
					click: doRightAction, text: rightActionText"></a>
		</div>
	</span>

	<span class="size" data-bind="text: friendlySize()"></span>

	<span class="title" data-bind="customTooltip: fileName(), css: {entire_line: friendlySize() === ''}">
		<span class="name" data-bind="text: displayName"></span>
	</span>
</div>

<!-- ko if: isMessageType() && messagePart() -->
	<!-- ko template: {name: 'Mail_PrintMessageView', data: messagePart} --><!-- /ko -->
<!-- /ko -->
