<div id="apps-list" class="panel panel-left panel-reveal">
	<div class="content-block">
		<!-- ko foreach: tabs -->
			<!-- ko template: {name: ViewTemplate, data: $data} --><!-- /ko -->
		<!-- /ko -->
		
		<span class="link tab-link full_version" data-bind="click: switchToFullVersion">
			<!--<i class="icon email"></i>-->
			<span class="tabbar-label" data-bind="i18n: {'key': '%MODULENAME%/ACTION_SHOW_FULL_VERSION'}"></span>
		</span>
		<span class="link tab-link logout" data-bind="click: logout">
			<!--<i class="icon logout"></i>-->
			<span class="tabbar-label" data-bind="i18n: {'key': '%MODULENAME%/ACTION_LOGOUT'}"></span>
		</span>
	</div>
</div>
